{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block page_content %}

    User: {{ user.email }}
    <hr />

    <div class="alert alert-dismissable">
        Good news!  When Symfony 5.1 is release, we can add a "Reset Password" form here easily.
    </div>
{% endblock %}